/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,800;1,400;1,500;1,600&display=swap");
body{
    font-family: 'Poppins', sans-serif;
}
.top-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.half-width{
    width: 50%;
    padding-left: 120px;
    
}
.half-width img{
    width: 440px;
    height: 414px;
}
.img-bg{
    background-image: url(../images/Circle\ design.svg);
}
.half-width h1{
    font-size: 45px;
}
.btn{
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 20px ;
    border-radius: 20px;
}
